
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  font-family: "Outfit";
}
body {
  margin: 0;
  padding: 0;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 95, 37);
  padding: 20px;
  height: 80px;
  z-index: 100;
}

.logo {
  display: flex;
  margin-left: 100px;
}
.screenshot {
  height: 120px;
  display: block;
  background-color: black;
}

.midtext {
margin-right: auto;
margin-left: auto;
}

.title {
font-size: 30px;
}

.right-group {
  display: flex;
  font-size: 22px;
}

.home {
  color: rgb(0, 0, 0);
  padding: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.home:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.sponsors {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.sponsors:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.thisyear {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.thisyear:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.pastyears {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.pastyears:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.gallery {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.gallery:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.links {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
}
.links:hover {
border: 2px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);
background-color: rgb(255, 159, 124);
}
.content {
  margin-top: 135px;
  margin-left: 10%;
  margin-right: 10%;
}
.pagetitle {
  font-size: 70px;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}
.firstlink {
font-size: 40px;
text-align: center;
cursor: pointer;
display: block;
text-decoration: underline;
color: black;
margin-bottom: 50px;
}
.chslink {
font-size: 40px;
text-align: center;
cursor: pointer;
display: block;
text-decoration: underline;
color: black;
margin-bottom: 50px;
}
.intralink {
font-size: 40px;
text-align: center;
cursor: pointer;
display: block;
text-decoration: underline;
color: black;
margin-bottom: 50px;
}
.javalink {
font-size: 40px;
text-align: center;
cursor: pointer;
display: block;
text-decoration: underline;
color: black;
margin-bottom: 50px;
}
.websitecode {
font-size: 40px;
text-align: center;
cursor: pointer;
display: block;
text-decoration: underline;
color: black;
margin-bottom: 75px;
}

.footer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 95, 37);
  padding: 20px;
  height: 160px;
}
.intralox {
  height: 160px;
  margin-right: 100px;
}
.first {
  height: 160px;
  cursor: pointer;
}
.chs {
  height: 160px;
  margin-left: 100px;
}
.active {
  background-color: rgb(200, 60, 10);
  cursor: default;
  pointer-events: none;
  border-color: rgb(0, 0, 0);
}