
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  font-family: "Outfit";
}
body {
  margin: 0;
  padding: 0;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 95, 37);
  padding: 20px;
  height: 80px;
  z-index: 100;
}

.logo {
  display: flex;
  margin-left: 100px;
}
.screenshot {
  height: 120px;
  display: block;
  background-color: black;
}

.midtext {
margin-right: auto;
margin-left: auto;
}

.title {
font-size: 30px;
}

.right-group {
  display: flex;
  font-size: 22px;
}

.home {
  color: rgb(0, 0, 0);
  padding: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.home:hover {
background-color: rgb(255, 159, 124);
}
.sponsors {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.sponsors:hover {
background-color: rgb(255, 159, 124);
}
.thisyear {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.thisyear:hover {
background-color: rgb(255, 159, 124);
}
.pastyears {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.pastyears:hover {
background-color: rgb(255, 159, 124);
}
.gallery {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.gallery:hover {
background-color: rgb(255, 159, 124);
}
.links {
  color: rgb(0, 0, 0);
  padding:16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 135, 91);
  margin-right: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.links:hover {
background-color: rgb(255, 159, 124);
}
.content {
  margin-top: 175px;
  margin-left: 10%;
  margin-right: 10%;

}
.pagetitle {
  font-size: 70px;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}
.yearscont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 22%;
    max-width: 100%;
    padding: 10px;
    justify-self: center;
    margin-right: 10%;
    align-self: center;
}
.year {
  font-size: 25px;
  display: inline-block;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 150px;
  padding-right: 200px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(255, 95, 37);
  text-decoration: none;
  margin: none;
  transition: background-color 0.2s ease;
}
.year:hover {
  background-color: rgb(255, 135, 91);
}








.footer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 95, 37);
  padding: 20px;
  height: 160px;
}
.intralox {
  height: 160px;
  margin-right: 100px;
}
.first {
  height: 160px;
  cursor: pointer;
}
.chs {
  height: 160px;
  margin-left: 100px;
}
.active {
  background-color: rgb(200, 60, 10);
  cursor: default;
  pointer-events: none;
  border-color: rgb(0, 0, 0)
}